# Noyau Jupyter
ipykernel==6.29.3

# Data
pandas==2.2.2
numpy==1.26.4

# Visualisation
matplotlib==3.8.4
seaborn==0.13.2

# NLP Classique
nltk==3.9.1
spacy==3.7.4

# SciPy (compatible Python 3.10)
scipy==1.10.1

# Machine Learning
scikit-learn==1.4.2
threadpoolctl==3.4.0

# HuggingFace & DL
transformers==4.41.2
huggingface-hub==0.23.4

# PyTorch (CPU)
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0


# Streamlit
streamlit==1.51.0

wordcloud==1.9.4
